body{
    background-color: rgb(199, 175, 175);
}

a{
    list-style: none;
    color: rgb(116, 86, 12);
    margin-left: 50px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
}

a:link{
    text-decoration: none;
}
.header{
    text-align: right;
    padding-left: 30px;
}

a:hover{
    color: whitesmoke;
    font-size: 27px;
}

.comment{
    width: 370px;
    height: 250px;
    color: bisque;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    padding-left: 20px;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 200px;
    margin-top: 50px;
    box-shadow: 50px;
}
.picture img{
    border-radius: 20px;
    
}

#introduction:hover{
    color: rgb(116, 86, 12);
    text-transform: unset;
    size: 40px !important;
}
footer{
    background-color: rgb(100, 46, 46);
    color: bisque;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer{
    align-items: center;
    margin-right: 10px;
}
.footer a:nth-child(3){
    padding-right: 30px;
}